* {
    padding: 0;
    margin: 0;
}

/*showcase*/
.showcase {
    padding: 50px 0;
    width: 100%;
    background: url("../images/card.png") center;
    background-size: cover;
}
.showcase h2 {
    color: #f68383;
    font-size: 40px;
}
.showcase-head hr {
    height: 2px;
    background-color: #f68383;
    border: 0px;
}
.showcase img {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}
.photos {
    margin: 0 0 50px 0;
}
.photo-wrapper {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 208px;
    height: 208px;
    margin: 40px;
    text-align: center;
    overflow: hidden;
    border: solid 1px #fff;
}
.photo-theme {
    position: relative;
    opacity: 0.6;
    width: 208px;
    height: 104px;
    text-align: center;
    margin-left: -1px;
    overflow: hidden;
    top: 80%;
    background-color: #000000;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.photo-theme p {
    color: #e6e6e6;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 1;
}
.photo-theme h3 {
    color: #fefefe;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    opacity: 1;
}
.photo-wrapper:hover .photo-theme {
    top: 50%;
}
.photo-wrapper img {
    margin-top: -104px;
}

/*department*/
.depart {
    background-color: #f68383;
    color: white;
}
.depart-head p {
    font-size: 24px;
    margin-bottom: 40px;
}
.leader {
    display: inline-block;
    margin: 50px;
}
.leader h4 {
    margin-bottom: 20px;
}

/*join us*/
.join {
    width: 100%;
    background: url("../images/card2.png") center;
    background-size: cover;
}
.info {
    margin-top: 60px;
    margin-bottom: 90px;
}
.join-head {
    margin-top: 150px;
}
.join-head h2 {
    color: #f68383;
    font-size: 40px;
}
.join-head hr {
    height: 2px;
    border: 0px;
    background-color: #f68383;
}
.join-head p {
    font-size: 20px;
}
.form-group label {
    float: left;
}
.form-group textarea {
    resize: none;
    outline: none;
    border-color: #f68383;
}
.form-group input {
    height: 40px;
    outline: none;
    border-color: #f68383;
}
.form-group select {
    height: 40px;
    outline: none;
    border-color: #f68383;
}
.join-right .form-group {
    padding-bottom: 10px;
}
.submit-btn {
    position: relative;
    vertical-align: middle;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    margin-top: 40px;
    border: none;
    background-color: #fdc9c9;
    font-size: 24px;
    outline: none;
}

.buttom {
    background-color: #f68383;
}
.buttom p {
    font-size: 20px;
    padding: 20px;
}


/*other*/
.page-border {
    margin-top: -30px;
    height: 80px;
    background: url("../images/pageBorder.png");
}
.border2 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-bottom: -30px;
}